-e deps/blockworld
scipy
pandas
joblib
scipy
pandas
joblib
h5py
pillow
matplotlib
SQLAlchemy
pydot
pyyaml
networkx
shapely
pyyaml
graphviz
dask[complete]
bokeh
dask_jobqueue
pybullet
pyquaternion
-e .
